* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

section#home.home-area {
  color: rgb(255, 255, 255);
  font-weight: lighter;
  line-height: 2em;
  text-shadow: .2px .2px #b6b6b6;
  font-size: 1.4rem;
  width: auto;
  letter-spacing: 2px;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  padding: 3px;

}

a {
  text-decoration: none;
  color:#709fbe;
}

button {
  border-radius: 12px;
  background-color: #2baec5; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px
}

header {
  margin-right: 1px;
  padding: 5px;
  justify-content: center;
}

nav li {
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
}

nav {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
} 
p.strong {
  font-weight: bolder;
  font-size: 1.5em;
  color: #2baec5;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 125px 30px;
}

section p {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 40px;
  max-width: 780px;
}

.home-area {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%,rgba(255,153,153,0) 45%,rgb(255, 255, 255) 100%), url("DSC04123.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  /* margin-bottom: 20px; */
}

footer{
  text-align: center;
}

footer {
  background: linear-gradient(rgb(247, 241, 241) 0%, transparent 100%);
  padding-bottom: 20px;
  padding-top: 20px;
}

ul.skills-content li {
  text-align: center;
  flex-direction: column;
}

li {
  text-align: center;
  list-style: none;
}

h5 {
  letter-spacing: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}